body
{
	background: lightblue;
}

	.login_div1 , .login_div2
	{
		background: rgb(224, 251, 255);
		padding: 20px;
		float: none;
		border-radius: 30px;
	}


#p1_n_i , #p2_n_i
{
	display: inline-block;
	background-color: rgb(134, 254, 254);
	border-radius: 100px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 1px;
}
#output
{
background: rgb(48, 255, 124);
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
